<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="os.imlive.demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_round_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/android_p_network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_round_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.FloatNoActionBar"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".DemoKtActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DemoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <!--FileProvide-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="FLOAT_CHANNEL"
            android:value="lianlian" />
        <!--        android:value="popo_gw" />-->
        <!--            android:value="tg03"/>-->
        <!--            android:value="tg02"/>-->
        <!--            android:value="tg01"/>-->
        <!--            android:value="popo_sougou"/>-->
        <!--            android:value="popo_baidu"/>-->
        <!--            android:value="popo_help360"/>-->
        <!--            android:value="popo_qq"/>-->
        <!--            android:value="popo_mi"/>-->
        <!--            android:value="popo_vivo"/>-->
        <!--            android:value="popo_oppo"/>-->
        <!--            android:value="popo_mz"/>-->
        <!--            android:value="popo_hw"/>-->
        <!--            android:value="popo_google"/>-->
        <!--            android:value="popo_lenovo"/>-->
        <!--            android:value="popo_samsung"/>-->
        <!--            android:value="popo_ali"/>-->

    </application>

</manifest>